body {
  margin: 0px;
  background-image: url(/assets/images/brickwall.jpg)
}
.container-total {
  display: grid;
  grid-template-columns: [first] 10% [line2] auto [line3] 10% [line4];
  grid-template-rows: [sh] 1fr [h] 50% [fh] 1fr [f];
  grid-template-areas: 
  "header header header header"
  ". main main ."
  "footer footer footer footer"
}
.header {
  grid-column-start: first;
  grid-column-end: line4;
  grid-row-start: sh;
  grid-row-end: h;
  display: grid;
  grid-area: header;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: 'Courgette', cursive;
  font-size: 80px;
}
header .photo-pink {
  grid-area: photo-pink;
}
header .phrase{
  grid-area: phrase;
}
.main {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  grid-column-start: line2;
  grid-column-end: line4;
  grid-row-start: h;
  grid-row-end: fh;
}
.images {
  width: 450px;
  margin-left: 400px;
  margin-bottom: 20px;
  border: 10px 10px 10px 10px;
  border-style: double;
  color: orangered;
}
.footer {
  grid-area: footer;
  grid-column-start: first;
  grid-column-end: line4;
  grid-row-start: fh;
  grid-row-end: f;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-area: footer;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  font-family: 'Courgette', cursive;
  font-size: 16px;
}
footer .rights {
  grid-area: rights;
}
footer .fund {
  grid-area: fund;
  width: 50px;
}
button:hover {
  animation-name: happybutton;
  animation-duration: 1000ms;
}
@keyframes happybutton {
  100% {background-color: rgba(255, 20, 145, 0.644);}
}