body {
  background-image: url(/assets/images/brickwall.jpg);
}
.header {
  width: auto;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-end;
  font-family: 'Antic Slab', serif;
  color: deeppink;
  font-size: 2em;
}
.photofc {
  width: auto;
  align-self: flex-end;
}
.name {
  align-self: center;
  justify-self: center;
}
#tribute-link {
  text-align: end;
  width: 100px;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 120px;
}
#main {
  padding-left: 20%;
  padding-right: 20%;
  align-content: center;
  font-family: 'Antic Slab', serif;
  color: rgb(3, 0, 2);
  font-size: 2em;
}
#title {
  font-size: 22px;
}
#div-img {
  justify-content: space-around;  
}
#image {
  width: 50em;
  height: auto;
  border: 5px 5px 5px 5px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin: 2em 2em 2em 20%;
}
#img-caption {
  color: rgba(0, 0, 0, 0.815);
  margin-left: 30%;
  margin-top: 5%;
}
.footer {
  width: auto;
  height: 20em;
  font-family: 'Antic Slab', serif;
  color: rgba(255, 20, 145, 0.637);
  font-size: 2em;
}